@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@import "variables";

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  width: 100vw;
}

p {
  font-size: $paragraph-font-size;
}

.mirrorX {
  transform: rotateY(180deg);
}

.FlipCamButton {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 12;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}